@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
}

header{
    display: flex;
    background-color: #85d4b7;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

.logo{
    padding: 30px;
    padding-left: 10vh;
    width: 50px;
    height: 100px;
}

nav{
    padding-top: 30px;
    padding-right: 20vh;
    font-size: large;
}

a{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #fff;
    padding-right: 20px;
}

.vegan{
    display: flex;
    justify-content: center;
    background-color: #6dccaa;
    
}

footer{
    font-family: "Montserrat", sans-serif;
    background-color: #6dccaa;
    width: 100%;
    height: 130px;
}